<mat-card>
  <app-datepicker></app-datepicker>
  <button mat-button (click)="algo()">See pickdate value</button>
</mat-card>

<mat-card>
  <mat-form-field>
    <mat-select placeholder="Hipodromo" [(ngModel)]= "hipodromoSelected" >
      <mat-option *ngFor="let hipodromo of hipodromos" [value]=hipodromo.idhipodromo 
                  (onSelectionChange)="onChangeHipodromo($event)">
        {{hipodromo.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>

<mat-card>

  <mat-form-field>
    <mat-select placeholder="N° de carreras">
      <mat-option *ngFor="let race of races" [value]="race.value" (onSelectionChange)="onChangeRaces($event)">
        {{race.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="N° de caballos">
      <mat-option *ngFor="let hourse of hourses" [value]="hourse.value" (onSelectionChange)="onChangeHourses($event)">
        {{hourse.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button *ngIf="(numHourses && numRaces) > 0" mat-raised-button color="primary" (click)="makeBoard()">Generate Board</button>

</mat-card>

<mat-card *ngIf="flagCreateBoard">

<!-- <mat-checkbox *ngFor="let board of checksX" class="checks_hourses" #checks></mat-checkbox>-->
  

  <div *ngFor="let option of checksY; let z = index" [attr.data-index]="z">
    <label>
      <input *ngFor="let option of checksX; let i = index" [attr.data-index]="i" type="checkbox" name="checksX" value="{{option}}" 
      [checked]="checksX.indexOf(option) >= 0"
      (change)="updateCheckedOptions(i, z, $event)"/>
    </label>
  </div>
 

</mat-card>

<mat-card>
  <button mat-button (click)="saveBoard()">Guardar Parrilla</button>
</mat-card>