<mat-card>
  <app-datepicker></app-datepicker>
  <button mat-button (click)="algo()">See pickdate value</button>
</mat-card>
<mat-card>

  <mat-form-field>
    <mat-select placeholder="N° de carreras">
      <mat-option *ngFor="let race of races" [value]="race.value" (onSelectionChange)="onChangeRaces($event)">
        {{race.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="N° de caballos">
      <mat-option *ngFor="let hourse of hourses" [value]="hourse.value" (onSelectionChange)="onChangeHourses($event)">
        {{hourse.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</mat-card>

<mat-card *ngIf="numHourses >0 && numRaces >0">

<!-- <mat-checkbox *ngFor="let board of checksX" class="checks_hourses" #checks></mat-checkbox>-->
  

  <div *ngFor="let option of checksY">
    <label>
      <input *ngFor="let option of checksX" type="checkbox" name="checksX" value="{{option}}" 
      [checked]="checksX.indexOf(option) >= 0"/>
    </label>
  </div>
 

</mat-card>

<mat-card>
  <button mat-button (click)="saveBoard()">Guardar Parrilla</button>
</mat-card>