<section *ngIf="hipodromos" class="panel-body">

    <input type="text" [(ngModel)]="term">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Telefono</th>
            <th scope="col">Fecha registro</th>
            <th scope="col">Nombre mascota</th>
            <th scope="col">Raza</th>
          </tr>
        </thead>
        <tbody>
            <tr class="table-active" *ngFor="let hipodromo of hipodromos">
              <td>
              <!--  <a href="#" [routerLink]="['/hipodromo', hipodromo.id]">{{hipodromo.id}}</a>-->
              </td>
              <td>
                <a>{{hipodromo.name}}</a>
              </td>
              <td align="center">
                 <button mat-raised-button color="primary" type="submit" (click)="selectedStory(hipodromo)">Editar</button> 
              </td>  
            </tr>
        </tbody>
      </table>
</section> 